* {
    padding: 0%;
    margin: 0%;
}
.logo{
   width: 60px;
}
.logo a img{
    margin-top: 10px;
    margin-left: -20px;
    max-width: 100%;
    max-height: 100%;
}

.navdiv ul li a{
    text-decoration: none;
}
.navdiv ul button a{
    text-decoration: none;
}

.navbar{
    background-color: rgb(30, 29, 29);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    position: sticky;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-left: 15px;
}

/* #navimg{
    height: 1000px;
    background: url('photo-collage.png.png') no-repeat center center fixed;
    background-size: contain;
    overflow: hidden;
    
} */

.logo a:hover{
   background-color: white;
   transition: 0.5s;
   color: black;
   cursor: pointer;
}


li{
    list-style: none;
    display: inline-block;
}

li a:hover{
    background-color: white;
   transition: 0.5s;
   color: black;
   padding-top: 15px;
   padding-bottom: 15px;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;margin-right: 25px;
}
#navbutton{
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 1rem;
    padding: 10px 12px;
    border-radius: 60px;
    background-color: rgb(42, 42, 253);
    color: white;
}
#navbutton a{
    color: white;
}

#navbutton:hover{
    cursor: pointer;
    transition: 0.25s;
    color: black;
}

#navimg{
    text-align: center;
}
#navimg img{
    opacity: 60%;
    max-width: 100%;
    max-height: 100%;
}

.centered-text {
    width: 1000px;
    margin-top: 12%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0,0.75); /* Optional background for better readability */
    padding: 10px;
    border-radius: 5px;
    color: antiquewhite;
}

.centered-text:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

#logobelow{
    display: flex;
    justify-content: center;   
    padding: 50px;
    width: 0px;
    
}

.logotagline div h3 p{
    text-align: center;
    font-size:50px;
    background-color: rgba(0, 0, 0,0.75);
    color: white;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    color: darkgreen;
}

.logotagline p{
    font-size: x-large;
}

.interview-button p{
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* .interview-button button{
    border: none;
    background-color: rgb(53, 84, 168);
    position: relative;
    top: 50px;
    left: 26vw;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    width: 110px;
    font-size: 10px;
    border-radius: 100px;
    color: aliceblue;
}

.interview-button button:hover{
    cursor: pointer;
    transition: 0.75s;
    /* color: whitesmoke; */
    /* background-color: #340e9c;
} */ 

/* #videolink{
    display: flex;
    justify-content: center;
} */